{% extends "GarethpPhotosBundle::layout.html.twig" %}

{% block content %}
	<style>
		.carousel .item img
		{
			max-height:500px;
			margin: 0 auto;
		}

		.carousel, .carousel-inner
		{
			height: 500px;
		}

		.carousel-control.right, .carousel-control.left
		{
			background: none;
		}

		.thumbGallery
		{
			padding-top: 20px;
			max-height: 300px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.thumbGallery .item
		{
			padding-bottom: 20px;
		}

		.thumbGallery img
		{

			cursor: pointer;
		}

		.thumbGallery .row
		{
			margin-left: 0px;
		}

		.thumbGallery .row > div:nth-child(4n+1)
		{
			clear: left;
		}

		@media ( max-width : 767px) {
			.thumbGallery .row > div:nth-child(odd)
			{
				clear: left;
			}

			.carousel, .carousel-inner, .carousel .item img
			{
				max-height: 300px;
			}
		}
	</style>
	<div class="clearfix">
		<a href="{{ path('garethp_photos_upload') }}" style="color:white">
			<span id="mobileCameraIcon" class="glyphicon glyphicon-camera pull-left" style="font-size:30px;"></span>
		</a>
	</div>
	<div id="gallery" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			{% for photo in photos %}
			<div class="item {% if loop.first %}active{% endif %}">
				<img src="{{ image(photo.getWebPath).scaleResize(500, 500) }}" class="img-rounded img-thumbnail">
			</div>
			{% endfor %}
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#gallery" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#gallery" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>

	<div class="thumbGallery container-fluid">
		<div class="row">
			{% for photo in photos %}
				{% if loop.index0 is divisibleby(4) %}

				{% endif %}
				<div class="col-md-3 col-sm-4 col-xs-6 ">
					<div class="item">
						<img data-target='#gallery' data-slide-to="{{ loop.index0 }}" class='img-responsive img-thumbnail' src="{{ image(photo.getWebPath).cropResize(100,100) }}" />
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}